.box{
  display: flex;
  flex-wrap: wrap;

  
}

#outlined{
  color: white;
}
.navbar{
  height: 76px;
}

body{
  background-color: #34568B
}

#card{
  margin-left: 100px;
  margin-top: 20px;
  width: 28rem;
}

